.TodoLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.TodoLoading img {
    width: 40%;
    height: 60vh;
}


@media (max-width: 640px) {
    .TodoLoading img {
        width: 80%;
        height: 50vh;
    }
}
