.EmptyTodos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EmptyTodos p {
    font-size: xx-large;
}

.EmptyTodos img {
    width: 40%;
    height: 50vh;
}

@media (max-width: 640px) {
    .EmptyTodos img {
        width: 80%;
        height: 50vh;
    }
}
